@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    color: white;
    scroll-behavior: smooth;
}

.span {
    display: none;
}

.span2 {
    display: inline-block;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    box-sizing: border-box;
    padding: 12px 0px 10px 0px;
    z-index: 1;
    position: fixed;
    width: 1530px;
    backdrop-filter: blur(10px);
}

.sessoes {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin: 0 30px 0 1000px;
    align-items: center;
    position: sticky;
    font-size: 18px;
}

.pagInicio {
    background: linear-gradient(63.13deg, #8E5D52 51.04%, #512515 51.05%);
    box-sizing: border-box;
    padding: 250px 0px 300px 0px;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.linkedinBotao {
    width: 100%;
    height: 70px;
    border-radius: 25px;
    border: none;
    background-color: #9f654f;
    font-size: 19px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    margin-top: 15px;
    color: white;

}

.avatarImagem {
    width: 300px;
    height: 300px;
}

a {
    text-decoration: none;
    color: white;
}

.apresentacao {
    margin: 0px;
}

h1.apresentacao {
    font-size: 50px;

}

h3.apresentacao {
    font-size: 30px;

}

.sobreMim {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #9f654f;
}

.imgSobreMim {
    width: 450px;
    height: 450px;
}

.txtSobreMim {
    width: 600px;
    font-size: 19px;
    box-sizing: border-box;
    padding: 220px 0px 200px 180px;
}

.habilidades {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 220px 0px 280px 180px;
    background-color: #6c321c;
}

.containerBasicoHabilidade,
.containerGITHabilidade {
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.habilidadeTXT {
    display: inline-block;
    width: 300px;
    margin-right: 50px;
}

h1.habilidades {
    margin-bottom: 50px;
}

.pNone {
    display: none;
}

.paraMediaQuery {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin-right: 20px;
}

.habilidade {
    display: flex;
    justify-items: center;
    align-items: center;
    cursor: pointer;
    background-color: #9f654f;
    box-sizing: border-box;
    padding: 9px;
    border-radius: 8px;
    width: 90px;
    margin-right: 20px;
}

#iconeCSS {
    height: 98px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    padding-top: 11px;
}

#iconeJS,
#iconeReact {
    padding-bottom: 15px;
    padding-top: 11px;
}


#iconeGit,
#iconeGitHub {
    height: 90px;

}

.projetos {
    background-color: #9f654f;
}

.projetos h1 {
    display: inline-block;
}

.projetos h3 {
    display: inline-block;
    margin-left: 10px;
    text-decoration: underline;
    font-size: 15px;
    cursor: pointer;
}

#jsSessao {
    margin-left: 200px;
}

.projetos span {
    margin-left: 1rem;
    font-size: 12px;
}

.linha1Projetos,
.linha2Projetos {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0 20px 0;

}

.projetos span {
    margin-left: 200px;
}

.reactSessaoDivAberta {
    display: flex;
    justify-content: space-evenly;
    padding: 150px 0;
}

.sessaoFechada {
    opacity: 0.5;
}

.projeto {
    width: 270px;
    height: 260px;
    cursor: pointer;
    border-radius: 10px;
}

.sessaoNone {
    display: none;
}

.projetoCompraPlanoDIV {
    background-color: #D5D5D5;
}

.pProjetoCompraPlano {
    background-color: grey;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7.4rem 0 0 -3rem;
    transform: rotate(-43deg);
    border-radius: 10px;
    width: 368px;
    height: 1.5rem;

}

.projetosNome {
    margin: 0 0 0 200px;
    box-sizing: border-box;
    padding: 70px 0px 3px 0px;
}

.informacoes {
    background-color: #6c321c;
    box-sizing: border-box;
    padding: 30px 0 20px 30px;
}

.h3Informacoes {
    margin-top: 0;
}

.contatoEmail,
.contatoInstagram {
    display: block;
}

.githubFooter {
    margin-top: 10px;
    width: 50px;
    height: 50px;
}

@media (min-width:1000px) and (max-width:1200px) {

    header {
        width: 1000px;
    }

    .sessoes {
        margin: 0 0 0 500px;
    }
}

@media (min-width:1200px) and (max-width: 1300px) {

    header {
        width: 1200px;
    }

    .sessoes {
        margin: 0 0 0 600px;
    }
}

@media (min-width:1300px) and (max-width: 1500px) {

    header {
        width: 1300px;
    }

    .sessoes {
        margin: 0 0 0 700px;
    }
}

@media (max-width: 1000px) {
    .sessoes {
        display: none;
    }

    header {
        backdrop-filter: none;
        border: none;
        position: absolute;
        width: 360px;
    }

    .pagInicio {
        background: #512515;
        font-size: 10px;
        padding-left: 20px;
    }

    .body {
        width: 800px;
    }

    .txtSobreMim {
        width: 400px;
        padding: 250px 0 300px 20px;
        font-size: 12px;
    }

    h1.apresentacao {
        font-size: 25px;
    }

    h3.apresentacao {
        font-size: 15px;
    }

    .linkedinBotao {
        width: 100px;
        height: 20px;
    }

    .habilidades {
        display: block;
        padding: 150px 0 270px 40px;
    }

    .habilidadeTXT {
        width: 200px;
        font-size: 12px;
    }

    .linha1Projetos,
    .linha2Projetos {
        display: inline-block;
        margin-left: 20%;
    }

    .reactSessaoDivAberta {
        display: block;
        padding-left: 20%;
    }

    .projetos span {
        display: block;
        margin-left: 30%;
    }

    #jsSessao {
        margin-left: 20%;
    }

    .projetosNome {
        margin: 0 0 0 120px;
    }
}

@media (max-width: 700px) {
    body {
        margin-right: -30px;
    }

    .pagInicio {
        display: block;
        box-sizing: border-box;
        padding-left: 18%;
    }

    .sobreMim {
        display: block;
    }

    .imgSobreMim {
        width: 300px;
        height: 300px;
        padding: 20px 0 0 0;
    }

    .txtSobreMim {
        padding-top: 30px;
        width: 300px;
    }

    .containerBasicoHabilidade,
    .containerGITHabilidade {
        display: inline-block;
        width: 300px;
    }

    #iconeAPI {
        display: inline-block;
        margin-left: 5%;
    }

    .paraMediaQuery {
        display: flex;
        justify-content: space-between;
        width: 300px;
        margin: 15px;
    }
}

@media(max-width:400px) {
    body {
        margin-right: -30px;
    }

    .pagInicio {
        display: block;
        box-sizing: border-box;
        padding-left: 18%;
    }

    .sobreMim {
        display: block;
    }

    .imgSobreMim {
        width: 300px;
        height: 300px;
        padding: 20px 0 0 0;
    }

    .txtSobreMim {
        padding-top: 30px;
        width: 300px;
    }

    .containerBasicoHabilidade,
    .containerGITHabilidade {
        display: inline-block;
        width: 300px;
    }

    #iconeAPI {
        display: inline-block;
        margin-left: 5%;
    }

    .paraMediaQuery {
        display: flex;
        justify-content: space-between;
        width: 300px;
        margin: 15px;
    }
}